/* ---------------------------- GENERAL STYLES ----------------------------- */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
.form-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
/* -------------------------------- navbar --------------------------------- */
.navbar-bg {
    background-color: #2e302e;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-brand img {
    height: 3rem;
    width: 3rem ;
}
#nav-title {
    color: #eff4eb;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 1.5rem 0 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;    
}
nav ul li a {
    color: #eff4eb;
    text-decoration: none;
    font-weight: bold;
}
.nav-item .nav-link:hover {
    color: #f8da17;
}
/* -------------------------------- footer -------------------------------- */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.footer-socials {
    font-size: 1.5rem;
}
.yellow-on-hover:hover {
    color: #f8da17 !important;
}
/* ---------------------------- MEDIA QUERIES ------------------------------ */
@media screen and (max-width: 768px) {
    .navbar-brand img {
        height: 2.5rem;
        width: 2.5rem;
    }
    #nav-title {
        font-size: 2rem;
    }
    nav ul li a {
        font-size: 1rem;
    }
    .footer-headings,    
    .footer-socials {
        font-size: 1rem;
    }    
    .footer-li,
    .footer-links {
        font-size: .8rem;
    }
    .footer-paragraph {
        font-size: 0.75rem;
        padding: 0 1rem 0 1rem;
    }
}