/* ============================= APP's PAGES =============================== */
/* ------------------------------ HOME PAGE -------------------------------- */

/* ---------------------------- REGISTER PAGE ------------------------------ */
#togglePasswordButton {
    border: 1px solid #b2bcc6;
    border-radius: 5px;
}
/* ------------------------------ LOGIN PAGE ------------------------------- */
#toggleLoginPasswordButton {
    border: 1px solid #b2bcc6;
    border-radius: 5px;
}
/* --------------------------- USER PROFILE PAGE --------------------------- */
.profile-pg-bg-img {
    height: 100vh; 
    object-fit: cover    
}
.profile-overlay {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.profile-overlay-container {
    background: rgba(255, 255, 255, 0.85); 
    border-radius: 10px; 
    overflow-y: auto; 
    padding: 0 1rem 0 1rem; 
}
#toggleProfilePasswordButton {
    border: 1px solid #b2bcc6;
    border-radius: 5px;
}
.account-img {
    height: 280px; 
    width: 280px; 
    object-fit: cover; 
    border-radius: 50%; 
}
.media-body {
    padding: 3rem;
}
/* --------------------- USER'S PROFILE UPDATE PAGE ------------------------ */

/* ---------------------------- CONTACT PAGE ------------------------------- */

/* ---------------------------- ADD TREE PAGE ------------------------------ */
.add-tree-bg-image {
    height: 100vh; 
    width: 100%; 
    object-fit: cover; 
}
.add-tree-form-container {
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;  
}
/* .add-tree-landing-image {
    height: auto; 
    width: 100%;
    object-fit: cover;
} */
.add-tree-overlay-container {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);    
}

/* -------------------------- MY TREES PAGE -------------------------------- */
.my_trees_bg_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1;
}
/* Overlay Container */
#my_trees_container {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);    
}
#my_trees_overlay {
    background-color: rgba(255, 255, 255, 0.85); 
    border-radius: 10px;
    max-height: 80vh;
}
#my_trees_scrollable_content {
    max-height: 60vh; 
    overflow-y: auto; 
    padding: 0 1rem 0 1rem; 
}
/* Make cards the same height */
.card {
    /* min-height:  220px;  */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Make images responsive and maintain aspect ratio */
.card-img-top {
    height: 200px; 
    width: 350px;
    object-fit: cover;             
}   
.card-title {
    height: 20px; 
    font-size: 1rem;
    text-align: center;
    /* overflow: hidden; */
}  
/* Back-to-top button */
#myBtn {
    display: none; 
    position: absolute; 
    bottom: 20px; 
    right: 57px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #e89911; 
    color: white; 
    cursor: pointer; 
    padding: 0 0.5rem 0 0.5rem; 
    border-radius: 50px; 
    font-size: 1.5rem; 
} 

/* ---------------------------- TREE DETAILS PAGE --------------------------- */

/* Ensure the modal is at the top and visible */
#deleteTreeModal {
    z-index: 1050; 
}
.modal-dialog {
    margin-top: 50px; 
}
#toggleTreePasswordButton {
    border: 1px solid #b2bcc6;
    border-radius: 5px;
}  
.tree-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}
/* ============================ MEDIA QUERIES =============================== */
@media screen and (max-width: 768px) {
    .account-img {
        height: 120px; 
        width: 120px; 
        object-fit: cover; 
        border-radius: 50%; 
        align-items: center;
    }
    .tree-detail-name {
        font-size: 1.6rem;
    }
    .profile-account-heading {
        font-size: 1.5rem;
    }
    .profile-footer-btns .btn {
        font-size: 0.85rem;
        padding: 5px 10px; 
        margin: 2px; 
    }
    .add-tree-scrollable-content {
    max-height: 50vh; 
    overflow-y: auto;
    }    
}

