html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Navbar */
.navbar-bg {
    background-color: #f9f2d9;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-brand img {
    height: 3rem;
    width: 3rem ;
}
#nav-title {
    color: #3a5020;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 1.5rem 0 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: rgb(9, 78, 32);
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
/* REGISTER PAGE */
body,
  html {
    height: 100%;
    margin: 0;
  }
  body {
    /* Background image */
    background-image: url('{% static "assets/images/background_images/register-page-img.png" %}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



