html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* NAVBAR */
.navbar-bg {
    background-color: #2e302e;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-brand img {
    height: 3rem;
    width: 3rem ;
}
#nav-title {
    color: #eff4eb;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 1.5rem 0 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;    
}
nav ul li a {
    color: #eff4eb;
    text-decoration: none;
    font-weight: bold;
}
.nav-item .nav-link:hover {
    color: #f8da17;
}

/* HOME PAGE */


/* USER PROFILE PAGE */



/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
/* REGISTER PAGE */
/* Form */
#togglePasswordButton {
    border: 1px solid #b2bcc6;
    border-radius: 5px;
  }


/* USER PROFILE PAGE */
.background-image {
    height: 100vh;
    object-fit: cover;
}

.form-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

/* MY TREES PAGE */
.card {
    min-height:  220px; 
    margin-bottom: 20px;
  }
  
  /* Make images responsive and maintain aspect ratio */
  .card-img-top {
    width:  100%;
    height: auto;
    object-fit: cover; 
  }
  
  /* Optional: Add some spacing between cards */
    .card-body {
        padding: 0.5rem;
    }   
    .card-title {
    height: 20px; 
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    }    
    .card-img-top {
        height: 150px; 
        object-fit: cover; 
        width: 100%;        
    } 
        .card {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    
    /* Back-to-top button */
    #myBtn {
        /* display: none;  */
        position: absolute; 
        bottom: 20px; 
        right: 57px; 
        z-index: 99; 
        border: none; 
        outline: none; 
        background-color: #e89911; 
        color: white; 
        cursor: pointer; 
        padding: 0 0.5rem 0 0.5rem; 
        border-radius: 50px; 
        font-size: 1.5rem; 
    }  
    
    /* TREE DETAILS PAGE Modal */
    /* Ensure the modal is at the top and visible */
#deleteTreeModal {
  z-index: 1050; 
}
.modal-dialog {
  margin-top: 50px; 
}
#toggleTreePasswordButton {
    border: 1px solid #b2bcc6;
    border-radius: 5px;
  }
  .tree-image {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

