{% extends 'base_generic.html' %} {% load static %} {% block content %}


<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-12">
      <img
        src="{% static 'assets/images/background_images/juniper.webp' %}"
        alt="Landing Image"
        class="img-fluid w-100 add-tree-bg-image"
        style="height: 100vh; object-fit: cover"
      />

      <!-- Overlay Container -->
      <div
        class="container position-absolute add-tree-overlay-container"        
      >
        <div class="row">
          <div class="col-lg-10 offset-lg-1 col-md-12">
            <div
              class="p-3 mb-0 add-tree-form-container"              
            >
              <!-- MAIN FORM Add Tree -->
              <div class="col-lg-12 col-md-6">
                <div class="text-center d-flex justify-content-center align-items-center">
                  <h3>Information about the tree:</h3>
                </div>
                <hr />
                <!-- Scrollable Content Area -->
                <div
                  class="scrollable-content add-tree-scrollable-content"
                >
                  <div class="p-3 mb-0">
                    <form
                      method="post"
                      action="{% url 'add_tree' %}"
                      enctype="multipart/form-data"
                    >
                      {% csrf_token %}

                      <div class="form-group">
                        <label for="common_name">Common Name:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="common_name"
                          name="common_name"
                          placeholder="Enter name of a tree"
                        />
                      </div>
                      <div class="form-group">
                        <label for="type">Type:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="type"
                          name="tree_type"
                          placeholder="Is it a tree or shrub?"
                        />
                      </div>
                      <div class="form-group">
                        <label for="origin">Origin:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="origin"
                          name="origin"
                          placeholder="Is it native, non-native or naturalised species?"
                        />
                      </div>
                      <div class="form-group">
                        <label for="tree_name">Introduction:</label>
                        <textarea
                          class="form-control"
                          id="tree_description"
                          name="introduction"
                          maxlength="800"
                          rows="2"
                          placeholder="Enter a short description of the tree"
                        ></textarea>
                        <small class="form-text text-muted">
                          Max. 800 characters
                        </small>
                      </div>
                      <h5>What does it look like?</h5>
                      <div class="form-group">
                        <label for="tree_image">Tree Image:</label>
                        <input
                          type="file"
                          class="form-control-file"
                          id="tree_image"
                          name="tree_image"
                        />
                      </div>
                      <h5>Where can it be found?</h5>
                      <div class="form-group">
                        <label for="tree_description">Tree Habitat:</label>
                        <textarea
                          class="form-control"
                          id="tree_habitat"
                          name="tree_habitat"
                          maxlength="300"
                          rows="2"
                          placeholder="Enter the places where the tree can be found"
                        ></textarea>
                        <small class="form-text text-muted">
                          Max. 300 characters
                        </small>
                      </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-success mr-2">
                  Add Tree
                </button>
                <a href="{% url 'my_trees' %}" class="btn btn-primary">
                  My Trees
                </a>
              </div>
              </form>
            </div>
          </div>
        </div>
        <!-- End of Scrollable Content Area -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
