{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-12">
            <!-- Background Image -->
            {% if tree %}
            <img src="{% static 'assets/images/background_images/maple.webp' %}"
                 alt="Background Image"
                 class="img-fluid w-100"
                 style="height: 100vh; object-fit: cover" />
            {% else %}
            <img src="{% static 'assets/images/background_images/juniper.webp' %}"
                 alt="Landing Image"
                 class="img-fluid w-100"
                 style="height: 100vh; object-fit: cover" />
            {% endif %}

            <!-- Overlay Container -->
            <div class="container position-absolute add-edit-tree-overlay-container"
                 style="top: 50%; left: 50%; transform: translate(-50%, -50%)">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 col-md-12">
                        <div class="p-3 mb-0 add-edit-tree-form-container"
                             style="background-color: rgba(255, 255, 255, 0.9);
                                    border-radius: 10px;">
                            <!-- MAIN FORM Add/Edit Tree -->
                            <div class="text-center">
                                <h3>
                                    {% if tree %}Edit Tree Information{% else %}
                                    Add New Tree{% endif %}
                                </h3>
                            </div>
                            <hr />

                            <form method="post"
                                  action="{% if tree %}{% url 'edit_tree' tree.id %}{% else %}
                                          {% url 'add_tree' %}{% endif %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Scrollable Content Area -->
                                <div class="scrollable-content"
                                     style="max-height: 60vh; overflow-y: auto">
                                    <div class="p-3 mb-0">
                                        <!-- Dynamic Form Fields -->
                                        <div class="form-group">
                                            <label for="common_name">Common Name:</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="common_name"
                                                   name="common_name"
                                                   value="{{ tree.common_name|default_if_none:'' }}"
                                                   placeholder="Enter name of a tree" />
                                        </div>

                                        <!-- Image Upload and Display -->
                                        <h6>What does it look like?</h6>
                                        <div class="form-group">
                                            <label for="tree_image">Tree Image:</label>
                                            <input type="file"
                                                   class="form-control-file"
                                                   id="tree_image"
                                                   name="tree_image" />
                                            {% if tree.tree_image %}
                                            <img src="{{ tree.tree_image.url }}"
                                                 alt="Current Tree Image"
                                                 class="img-fluid mt-2" />
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            <label for="tree_type">Type:</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="tree_type"
                                                   name="tree_type"
                                                   value="{{ tree.tree_type|default_if_none:'' }}"
                                                   placeholder="Is it a tree or shrub?" />
                                        </div>

                                        <div class="form-group">
                                          <label for="origin">Origin:</label>
                                          <select class="form-control" id="origin" name="origin">
                                            <option value="">--Select Origin--</option>
                                            <option value="native">Native</option>
                                            <option value="non-native">Non-Native</option>
                                            <option value="naturalised">Naturalised</option>
                                          </select>
                                        </div>  

                                        <div class="form-group">
                                            <label for="introduction">Introduction:</label>
                                            <textarea class="form-control"
                                                      id="introduction"
                                                      name="introduction"
                                                      maxlength="800"
                                                      rows="3"
                                                      placeholder="Enter a short description of the tree">
                                                {{ tree.introduction|default_if_none:'' }}
                                            </textarea>
                                            <small class="form-text text-muted">
                                                Max. 800 characters
                                            </small>
                                        </div>

                                        <div class="form-group">
                                            <label for="tree_habitat">Tree Habitat:</label>
                                            <textarea class="form-control"
                                                      id="tree_habitat"
                                                      name="tree_habitat"
                                                      maxlength="300"
                                                      rows="2"
                                                      placeholder="Where can it be found?">
                                                {{ tree.tree_habitat|default_if_none:'' }}
                                            </textarea>
                                            <small class="form-text text-muted">
                                                Max. 300 characters
                                            </small>
                                        </div>                                        

                                        <hr />

                                        <!-- Submit Button -->
                                        <div class="form-group d-flex justify-content-center">
                                            {% if tree %}
                                            <!-- If editing a tree -->
                                            <button type="submit"
                                                    class="btn btn-success mr-2">
                                                Update Tree
                                            </button>
                                            <a href="{% url 'my_trees' %}"
                                               class="btn btn-secondary">Cancel</a>
                                            {% else %}
                                            <!-- If adding a new tree -->
                                            <button type="submit"
                                                    class="btn btn-success mr-2">
                                                Add Tree
                                            </button>
                                            <a href="{% url 'my_trees' %}"
                                               class="btn btn-primary">My Trees</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
