{% extends 'base_generic.html' %} {% load static %} {% block content %}

<!-- Background Image -->
<img
  src="{% static 'assets/images/background_images/maple.webp' %}"
  alt="Background Image"
  class="img-fluid w-100"
  style="height: 100vh; object-fit: cover"
/>

<!-- Overlay Container -->
<div
  class="container position-absolute"
  style="
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  "
>
  <div class="row">
    <div class="col-lg-9 offset-lg-1 col-md-12">
      <div
        class="p-4"
        style="
          background: rgba(255, 255, 255, 0.8);
          border-radius: 10px;
          max-height: 80vh;
          overflow-y: auto;
          position: relative;
        "
      >
        <h3>Edit Tree Information</h3>
        <hr />
        <!-- Scrollable Content Area -->
        <div
          class="scrollable-content"
          style="max-height: 70vh; overflow-y: auto"
        >
          <!-- MAIN FORM Edit Tree -->
          <form
            method="post"
            enctype="multipart/form-data"
            class="form-horizontal"
          >
            {% csrf_token %} {% for field in form %}
            <div class="form-group">
              <label
                for="{{ field.id_for_label }}"
                class="control-label col-sm-2"
                >{{ field.label }}</label
              >
              <div class="col-sm-10">
                {{ field }} {% if field.help_text %}
                <p class="help-block">{{ field.help_text }}</p>
                {% endif %} {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">
                  Update Tree
                </button>
                <a href="{% url 'my_trees' %}" class="btn btn-secondary"
                  >Cancel</a
                >
              </div>
            </div>
          </form>
        </div>
        <!-- End of Scrollable Content Area -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}
