{% extends 'base_generic.html' %} {% load static %} {% block content %}

<!-- Background Image -->
<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-12">
      <img
        src="{% static 'assets/images/background_images/landing-page-img.png' %}"
        alt="Landing Image"
        class="img-fluid w-100"
        style="height: 100vh; object-fit: cover"
      />
      <!-- Form Overlay -->
      <div
        class="container position-absolute"
        style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
      >
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div
              class="p-3"
              style="background: rgba(255, 255, 255, 0.8); border-radius: 10px"
            >
              <!-- Add the quote -->
              <blockquote class="blockquote text-center">
                <p class="font-weight-bold mb-0">
                  "The tree which moves some to tears of joy is in the eyes of
                  others only a green thing that stands in the way."
                </p>
                <p class="blockquote-footer font-weight-bold">William Blake</p>
              </blockquote>

              <!-- Auto-layout Columns Under the Quote -->
              <div class="row text-center mt-4">
                <!-- First Column -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <a href="{% url 'identification_guide' %}">
                    <h5 class="text-success font-weight-bold">
                      A guide to identifying British trees
                    </h5>
                  </a>
                </div>
                <!-- Second Column -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <h5 class="text-info font-weight-bold">
                    Outdoor Therapy and Grounding Techniques for Mental Health
                  </h5>
                </div>
                <!-- Third Column -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <h5 class="text-success font-weight-bold">
                    A beginner's guide to forest bathing
                  </h5>
                </div>
                <!-- Fourth Column -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <h5 class="text-info font-weight-bold">
                    Where to go forest bathing
                  </h5>
                </div>
              </div>

              <!-- Buttons Under the Columns -->
              <div class="row text-center mt-4">
                {% if not user.is_authenticated %}
                <div class="col-12">
                  <a href="{% url 'login' %}" class="btn btn-primary mr-2"
                    >Login</a
                  >
                  <a href="{% url 'register' %}" class="btn btn-info"
                    >Sign Up</a
                  >
                </div>
                {% endif %}
              </div>

              <div class="row text-center mt-4">
                {% if user.is_authenticated %}
                <div class="col-12">
                  <!-- Add Tree Button -->
                  <a href="{% url 'add_tree' %}" class="btn btn-success mr-2"
                    >Add Tree</a
                  >
                  <!-- My Trees Button -->
                  <a href="{% url 'my_trees' %}" class="btn btn-primary"
                    >My Trees</a
                  >
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
