{% extends 'base_generic.html' %} {% load static %} {% block content %}

<div class="position-relative">
  <!-- Background Image -->
  <img
    src="{% static 'assets/images/background_images/login-page-img-1.png' %}"
    alt="Login Page Background"
    class="img-fluid w-100"
    style="height: 100vh; object-fit: cover"
  />

  <!-- Form Overlay -->
  <div
    class="container position-absolute"
    style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
  >
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div
          class="p-4"
          style="background: rgba(255, 255, 255, 0.8); border-radius: 10px"
        >
          <h2 class="text-center mb-4">Login</h2>
          <form method="post" class="mt-4">
            {% csrf_token %}
            <!-- Form Fields -->
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="login-password"
                name="password"
                required
              />              
              <!-- Toggle Button -->
              <button
                type="button"
                id="toggleLoginPasswordButton"
                onclick="toggleLoginPassword()"
              >
                Show Password
              </button>
            </div>
            <!-- Forgot Password Link -->
            <div class="mt-2">
              <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>
            <!-- Registration Prompt -->
          <div class="mt-3 text-center">
            <span>Don't have an account? </span>
            <a href="{% url 'register' %}" class="text-primary">Register here</a>
          </div>
          <!-- Submit Button -->
          <button
          type="submit"
          class="btn btn-primary btn-block"
          id="login-btn"
        >
          Login
        </button>
          </div>                   
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}{% block javascript %}
<script src="{% static 'assets/js/script.js' %}"></script>
{% endblock %}