{% extends 'base_generic.html' %} {% load static %} {% block content %}

<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-12">
      <img
        src="{% static 'assets/images/background_images/sea_buckthorn.webp' %}"
        alt="Landing Image"
        class="img-fluid w-100"
        style="height: 100vh; object-fit: cover"
      />

      <!-- Overlay Container -->
      <div
        class="container position-absolute"
        style="
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          overflow: hidden;
        "
      >
        <div class="row">
          <div class="col-lg-9 offset-lg-1 col-md-12">
            <div
              class="p-4"
              style="
                background: rgba(255, 255, 255, 0.8);
                border-radius: 10px;
                max-height: 80vh;
                overflow-y: auto;
                position: relative; /* Add position relative here */
              "
            >
              <!-- Scrollable Content Area -->
              <div
                class="scrollable-content"
                style="max-height: 70vh; overflow-y: auto"
              >
                <!-- MAIN FORM My Trees -->
                <div class="col-lg-12 col-md-6">
                  <div class="p-3">
                    <h3>My Trees Collection:</h3>
                    <hr />

                    <!-- New Card Layout for Trees -->
                    <div class="row">
                      {% for tree in trees %}
                      <div class="col-md-3">
                        <a href="{% url 'tree_detail' tree.id %}">
                          <!-- Link to the detail page -->
                          <div class="card">
                            <img
                              src="{{ tree.tree_image.url }}"
                              class="card-img-top img-fluid"
                              alt="{{ tree.common_name }}"
                            />
                            <div class="card-body">
                              <h5 class="card-title">{{ tree.common_name }}</h5>
                            </div>
                          </div>
                        </a>
                      </div>
                      {% empty %}
                      <div class="col-12">
                        <p>You have not added any trees yet.</p>
                      </div>
                      {% endfor %}
                    </div>
                    <!-- End of Card Layout for Trees -->
                  </div>
                </div>
              </div>
              <!-- End of Scrollable Content Area -->
            </div>
            <!-- "Back to Top" button -->
            <button onclick="topFunction()" id="myBtn" title="Go to top">
              ↑
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block javascript %}
<script src="{% static 'assets/js/script.js' %}"></script>
{% endblock javascript %}
