{% extends 'base_generic.html' %} {% load static %} {% block content %}

<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-12">
      <!-- Background image -->
      <img
        src="{% static 'assets/images/background_images/juniper.webp' %}"
        alt="Landing Image"
        class="img-fluid w-100 profile-update-bg-image"
        style="height: 100vh; object-fit: cover"
      />

      <!-- Form Overlay -->
      <div class="container position-absolute profile-update-overlay-container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3 col-md-12">
            <div class="p-4 mb-0 profile-update-form-container">
              <!-- MAIN CONTENT -->
              <!-- Header Section -->
              <div class="col-lg-12 col-md-6">
                <div class="d-flex justify-content-center align-items-center">
                  <h2 class="text-center profile-update-heading">
                    Update {{ user.username }}'s Profile:
                  </h2>
                </div>
                <hr />
              </div>
              <!-- Scrollable Content Area -->
              <div class="scrollable-content profile-update-scrollable-content">
                <!-- Main Section -->
                <div class="p-3 mb-0">
                  <form id="updateProfileForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group text-center">
                      <img
                      class="profile-account-img rounded-circle"
                      src="{{ user.profile.get_image_url }}"
                      alt="Profile Picture"
                      />
                    </div>
                    <div class="form-group">
                      <label for="id-image">Change:</label>
                      <input
                        type="file"
                        name="image"
                        id="id-image"
                        class="your-custom-class"
                      />
                    </div>
                    </div>
                    <!-- Email Field -->
                    <div class="form-group">
                      <label for="emailField">Current email:</label>
                      <input
                        type="email"
                        class="form-control"
                        id="emailField"
                        name="email"
                        value="{{ form.email.value }}"
                        required
                      />
                      <small class="form-text text-muted">
                        You can update your email above.
                      </small>
                      <small class="form-text text-danger" id="emailError"></small>
                    </div>

                    <!-- Current Password Field -->
                    <div class="form-group">
                      <label for="currentPasswordField">Current password:</label>
                      <input
                        type="password"
                        class="form-control"
                        id="currentPasswordField"
                        name="current_password"
                        minlength="8"
                        required
                      />
                      <small class="form-text text-danger" id="currentPasswordError"></small>
                    </div>

                    <div class="form-group">
                      <label for="newPasswordField">New password:</label>
                      <input
                        type="password"
                        class="form-control"
                        id="newPasswordField"
                        name="new_password"
                      />
                    </div>
                    <div class="form-group">
                      <label for="confirmNewPasswordField"
                        >Confirm new password:</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="confirmNewPasswordField"
                        name="confirm_new_password"
                      />
                    </div>

                    <!-- Footer Section Inside Scrollable Area -->
                    <hr />
                    <div
                      class="d-flex justify-content-center align-items-center"
                    >
                      <button
                        type="submit"
                        class="btn btn-primary mr-2 profile-update-btns"
                      >
                        Update Profile
                      </button>
                      <a
                        href="{% url 'profile' %}"
                        class="btn btn-danger profile-update-btns"
                      >
                        Cancel
                      </a>
                    </div>
                  </form>
                </div>
                <!-- End of Scrollable Content Area -->
              </div>
            </div>
            <!-- End of Main Section -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block title %}Update Profile{% endblock %} {% block css %}
{% endblock %} {% block javascript %}
<script src="{% static 'assets/js/script.js' %}"></script>
{% endblock javascript %}

