{% extends 'base_generic.html' %} {% load static %} {% block content %}

<div class="position-relative">
  <!-- Background Image -->
  <img
    src="{% static 'assets/images/background_images/userprofile-page-img.png' %}"
    alt="Login Page Background"
    class="img-fluid w-100"
    style="height: 100vh; object-fit: cover"
  />

  <!-- Form Overlay -->
  <div
    class="container position-absolute"
    style="top: 50%; left: 35%; transform: translate(-50%, -50%)"
  >
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <div
          class="p-4 shadow-lg rounded-lg"
          style="background: rgba(255, 255, 255, 0.8); border-radius: 10px"
        >
          <!-- Header Section -->
          <div class="text-center">
            <h2 class="account-heading">
              Update {{ user.username }}'s Profile:
            </h2>
            <hr />
          </div>

          <!-- Main Section -->
          <div class="main-section">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <img
                class="rounded_circle account-img d-block mx-auto mb-3"
                src="{{ user.profile.get_image_url }}" 
                alt="Profile Picture"
                width="200px"
                height="200px" 
              />
              
              <!-- Add your form fields here -->
              {{ form.as_p }}
              <hr />
              <div class="text-center">
                <button type="submit" class="btn btn-primary">
                  Update Profile
                </button>
                <a href="{% url 'profile' %}" class="btn btn-danger w-25"
                  >Cancel</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
