{% extends 'base_generic.html' %} {% load static %} {% block content %}

<div class="position-relative">
  <!-- Background Image -->
  <img
    src="{% static 'assets/images/background_images/userprofile-page-img.png' %}"
    alt="Login Page Background"
    class="img-fluid w-100"
    style="height: 100vh; object-fit: cover"
  />
  <!-- Form Overlay -->
  <div
    class="container position-absolute"
    style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
  >
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div
          class="p-4"
          style="background: rgba(255, 255, 255, 0.8); border-radius: 10px"
        >
          <div class="content-section">
            <div class="media">
              <img
                class="rounded_circle mr-3 account-img"
                src="{% if user.profile.image.url %}
                  {{ user.profile.image.url }}
                  {% else %}
                  {% static 'assets/profile_images/user-prof-img.png' %}
                  {% endif %}"
                alt="default profile picture of a tree"
                width="100px"
                height="100px"
              />
              <div class="media-body">
                <div id="profile-heading">
                  <h2 class="account-heading">Welcom, {{ user.username }}!</h2>
                </div>
                <hr />
                <p class="text-secondary">
                  <strong>First Name:</strong> {{ user.first_name }}
                </p>
                <p class="text-secondary">
                  <strong>Last Name:</strong> {{ user.last_name }}
                </p>
                <p class="text-secondary">
                  <strong>Email:</strong> {{ user.email }}
                </p>
                <hr />
                <div id="profile-footer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
