{% extends 'base_generic.html' %} {% load static %} {% block content %}

<div class="position-relative">
  <!-- Background Image -->
  <img
    src="{% static 'assets/images/background_images/userprofile-page-img.png' %}"
    alt="Login Page Background"
    class="img-fluid w-100"
    style="height: 100vh; object-fit: cover"
  />

  <!-- Form Overlay -->
  <div
    class="container position-absolute"
    style="top: 50%; left: 35%; transform: translate(-50%, -50%)"
  >
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <div
          class="p-4 shadow-lg rounded-lg"
          style="background: rgba(255, 255, 255, 0.8); border-radius: 10px"
        >
          <!-- Header Section -->
          <div class="header-section profile-header">
            <h2 class="account-heading text-center">
              Welcome, {{ user.username }}!
            </h2>
            <hr />
          </div>

          <!-- Main Section -->
          <div class="main-section">
            <div class="media">
              <img
                class="rounded_circle mr-3 account-img"
                src="{% if user.profile.image.url %}
                {{ user.profile.image.url }}{% else %}{% static 'assets/images/profile_images/users-prof-img.png' %}{% endif %}"
                alt="default profile picture"
                width="200px"
                height="200px"
              />
              <div class="media-body ml-4">
                <p class="text-secondary mt-5">
                  <strong>First Name:</strong> {{ user.first_name }}
                </p>
                <p class="text-secondary">
                  <strong>Last Name:</strong> {{ user.last_name }}
                </p>
                <p class="text-secondary">
                  <strong>Email:</strong> {{ user.email }}
                </p>
              </div>
            </div>
          </div>

          <hr />

          <!-- Footer Section -->
          <div class="text-center">
            <a href="{% url 'profile-update' %}" class="btn btn-primary"
              >Update Profile</a
            >
            <!-- Trigger/Delete Profile Button -->
            <button
              type="button"
              class="btn btn-danger"
              data-toggle="modal"
              data-target="#deleteProfileModal"
            >
              Delete Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
