{% extends 'base_generic.html' %} {% load static %} {% block content %}

<div class="position-relative">
  <!-- Background Image -->
  <img
    src="{% static 'assets/images/background_images/register-page-img.png' %}"
    alt="Landing Image"
    class="img-fluid w-100"
    style="height: 100vh; object-fit: cover"
  />

  <!-- Form Overlay -->
  <div
    class="container position-absolute"
    style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
  >
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div
          class="p-4"
          style="background: rgba(255, 255, 255, 0.8); border-radius: 10px"
        >
          <h2 class="text-center mb-4">Sign Up</h2>
          <form method="post" class="mt-4">
            {% csrf_token %}
            <!-- Form Fields -->
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="id_username"
                name="username"
                placeholder="Choose a username"
                required
              />
            </div>
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
                placeholder="Enter your first name"
              />
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                placeholder="Enter your last name"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password1"
                placeholder="Choose a password"
                required
              />
              <small class="form-text text-muted">
                Must be at least 8 characters.
              </small>
              <!-- Toggle Button -->
              <button
                type="button"
                id="togglePasswordButton"
                onclick="togglePassword()"
              >
                Show Password
              </button>
            </div>
            <div class="form-group">
              <label for="password-confirm">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="password-confirm"
                name="password2"
                placeholder="Confirm your password"
                required
              />
            </div>
            <!-- Submit Button -->
            <button
              type="submit"
              class="btn btn-info btn-block"
              id="signup-btn btn-block btn-info"
            >
              Sign Up
            </button>
          </form>
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              let usernameInput = document.getElementById("id_username");

              usernameInput.addEventListener("keyup", function () {
                let username = this.value;

                fetch("/check_username/?username=" + username)
                  .then((response) => response.json())
                  .then((data) => {
                    if (data.is_taken) {
                      usernameInput.setCustomValidity(
                        "This username is already taken."
                      );
                    } else {
                      usernameInput.setCustomValidity("");
                    }
                  })
                  .catch(() => {});
              });
            });
          </script>
          <script>
            function togglePassword() {
              let passwordInput = document.getElementById("password");
              let toggleButton = document.getElementById(
                "togglePasswordButton"
              );
              if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleButton.textContent = "Hide Password";
              } else {
                passwordInput.type = "password";
                toggleButton.textContent = "Show Password";
              }
            }
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
