{% extends 'base_generic.html' %} {% load static %} {% block content %}

<div class="position-relative">
  <!-- Background Image -->
  <img
    src="{% static 'assets/images/error_pages/405_page.webp' %}"
    alt="404 error page Background"
    class="img-fluid w-100"
    style="height: 100vh; object-fit: cover"
  />

  <!-- Form Overlay -->
  <div
    class="container position-absolute"
    style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
  >
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div
          class="p-4"
          style="background: rgba(255, 255, 255, 0.85); border-radius: 10px"
        >
          <h3 class="text-center mb-4">Method Not Allowed</h3>
          <hr>
        <p>
          The forest whispers of many ways to roam its paths, but it seems
          you've found one that is not yet trodden. The ancient trees guard it
          well, and we must respect their old ways. 
          <br>
          <br>
          Fear not, for there are plenty of other trails to explore. 
          Let's find one that welcomes your steps.
          <br>
          <a href="{% url 'home' %}">Return to the Main Path</a>
        </p>
        </div>        
      </div>
    </div>
  </div>
</div>
{% endblock %}
